<template>
  <aside
    class="app-sidebar"
    :class="computedClass"
    style="background-image: linear-gradient(to right, #0b2d94, #1245dd)"
  >
    <ul class="app-sidebar__menu">
      <a href="https://www.viabcp.com/" >
        <img  class="img1" src="./../../../../public/BCP_LOGO2.png" width="100">
      </a>
      </br>
      <div class="text-center flexo_italic_bold" v-if="name_user">
        Bienvenido, {{name_user}}  
      </div>
      </br>
      <template v-for="(item, key) in items">
        <app-sidebar-link-group
          :key="key"
          :minimized="minimized"
          :icon="item.meta && item.meta.iconClass"
          v-if="item.children"
          :title="$t(item.displayName)"
          :children="item.children"
          :active-by-default="hasActiveByDefault(item)"
          style="background-image: linear-gradient(to right, #0b2d94, #1245dd)"
        >
          <app-sidebar-link
            v-for="(subMenuItem, key) in item.children"
            :key="key"
            :to="{ name: subMenuItem.name }"
            :title="$t(subMenuItem.displayName)"
          />
        </app-sidebar-link-group>
        <app-sidebar-link
          v-else
          :key="key"
          :minimized="minimized"
          :active-by-default="item.name === $route.name"
          :icon="item.meta && item.meta.iconClass"
          :to="{ name: item.name }"
          :title="$t(item.displayName)"
        />
      </template>
    </ul>
  </aside>
</template>

<script>
import { navigationRoutes } from './NavigationRoutes'
import AppSidebarLink from './components/AppSidebarLink'
import AppSidebarLinkGroup from './components/AppSidebarLinkGroup'
import { ColorThemeMixin } from '../../../services/vuestic-ui'
import AuthService from "./../../../msal_auth/authad"
import GraphService from "./../../../msal_auth/graphad"


export default {
  name: 'app-sidebar',
  inject: ['contextConfig'],
  components: {
    AppSidebarLink,
    AppSidebarLinkGroup,
  },
  mixins: [ColorThemeMixin],
  props: {
    minimized: {
      type: Boolean,
      required: true,
    },
    color: {
      type: String,
      default: 'secondary',
    },
  },
  data () {
    return {
      items: navigationRoutes.routes,
      userInfo: null,
      rol_admin: null,
      rol: null,
      name_user: null
    }
  },
  created() {
    this.authService = new AuthService();
    this.graphService = new GraphService();
    this.name_user = this.$store.state.name_stored;
    console.log(this.name_user);
  },
  computed: {
    computedClass () {
      return {
        'app-sidebar--minimized': this.minimized,
      }
    },
  },
  methods: {
    hasActiveByDefault (item) {
      return item.children.some(child => child.name === this.$route.name)
    },
  },
}

</script>

<style lang="scss">
@import '../../../../node_modules/bulma/bulma.sass';
@font-face {font-family: "Flexo"; src: url("https://db.onlinewebfonts.com/t/6e1ef15c406d6f6aca64916d713fae18.eot"); src: url("https://db.onlinewebfonts.com/t/6e1ef15c406d6f6aca64916d713fae18.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/6e1ef15c406d6f6aca64916d713fae18.woff") format("woff"), url("https://db.onlinewebfonts.com/t/6e1ef15c406d6f6aca64916d713fae18.ttf") format("truetype");}
@font-face {font-family: "Flexo Black"; src: url("https://db.onlinewebfonts.com/t/69c0ad616c64a2dc64d02029c757df4c.eot"); src: url("https://db.onlinewebfonts.com/t/69c0ad616c64a2dc64d02029c757df4c.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/69c0ad616c64a2dc64d02029c757df4c.woff") format("woff"), url("https://db.onlinewebfonts.com/t/69c0ad616c64a2dc64d02029c757df4c.ttf") format("truetype");}
@font-face {font-family: "Flexo ItBold"; src: url("https://db.onlinewebfonts.com/t/a8d136c48b74108ea3b39516165b5943.eot"); src: url("https://db.onlinewebfonts.com/t/a8d136c48b74108ea3b39516165b5943.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/a8d136c48b74108ea3b39516165b5943.woff") format("woff"), url("https://db.onlinewebfonts.com/t/a8d136c48b74108ea3b39516165b5943.ttf") format("truetype");}

div.flexo_italic_bold {
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family:"Flexo ItBold"
}
.app-sidebar {
  overflow: auto;
  display: flex;
  max-height: 100%;
  flex: 0 0 16rem;
  font-family: "Flexo";
  font-size: 17px;

  @include media-breakpoint-down(sm) {
    flex: 0 0 100%;
  }

  &--minimized {
    flex: 0 0 3.25rem;
  }

  &__menu {
    margin-bottom: 0;
    padding-top: 2.5625rem;
    padding-bottom: 2.5rem;
    list-style: none;
    padding-left: 0;
    width: 100%;
  }
  img.img1{
    display:block;
    margin:auto;
  }
}
</style>
