<template>
  <aside
    class="app-bottombar"
    :style="computedStyles"
  >
    <ul class="app-bottombar__menu"> 2019 BCP Todos los derechos reservados. Sede Central, centenario 156, La Molina 15026, Lima Perú.
    </ul>
  </aside>
</template>

<script>
import { ColorThemeMixin } from '../../../services/vuestic-ui'

export default {
  name: 'app-bottombar',
  mixins: [ColorThemeMixin],
  inject: ['contextConfig'],
  components: {
  },
  props: {
  },
  computed: {
    computedStyles () {
      if (this.contextConfig.invertedColor) {
        return {
          backgroundColor: 'white',
          boxShadow: '0 2px 3px 0 rgba(52, 56, 85, 0.25)',
        }
      }

      return {
        backgroundColor: "rgb(0,0,0)",
      }
    },
  },
  data () {
    return {
    }
  },
  methods: {
    hasActiveByDefault (item) {
      return item.children.some(child => child.name === this.$route.name)
    },
  },
}
</script>

<style lang="scss">
.app-bottombar {
  transition: all 0.3s ease;
  width: 100%;
  display: flex;
  &__menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #FFFFFF;
    flex-wrap: wrap;
    min-height: 2rem;
    margin: 0 auto;
    max-width: 90%;
    width: 100%;
    &-group {
      @include media-breakpoint-down(sm) {
        flex-grow: 1;
      }
    }
    &-group-item {
      display: inline-flex;
      flex-wrap: wrap;
      width: 100%;
      white-space: nowrap;
      color: inherit;
      &--multi-row {
        width: 33.33%;
      }
    }
  }
  & + .content-wrap {
    margin-left: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  @include media-breakpoint-down(sm) {
    &__menu {
      max-width: 100%;
      padding: 0 1rem;
    }
  }
  &--minimized {
    left: 0;
    .va-bottombar-link-group {
      .va-bottombar-link__content {
        padding-right: 0;
      }
    }
    & + .content-wrap {
      margin-left: $sidebar-width--hidden !important;
    }
  }
}
</style>
