<template>
  <app-page-layout
    class="app-layout-operator"
    :is-top-bar.sync="isTopBar"
    :minimized.sync="minimized"
    :mobile-width="mobileWidth"
  >
    <div class="app-layout-operator__contain">
      <app-sidebar
        class="app-layout-operator__sidebar"
        v-if="!isTopBar"
        :minimized="minimized"
      />
      <div
        class="app-layout-operator__main"
        :class="{'app-layout-operator__main--top': isTopBar}"
      >
        <main
          class="app-layout-operator__main-layout layout fluid gutter--xl"
          slot="content"
          role="main"
        >
          <router-view/>
          <br>
          <br>
          <br>
          <br>
          
        </main>
        <footer>
          <div style="vertical-align:middle" class="text-center footerclass_operator">
            2020 BCP Todos los derechos reservados. Centro de Innovación Tecnológica, Av. Defensores del Morro 1868, Chorrillos, Lima Perú.
          </div>
          <br>
        </footer>
      </div>
    </div>
  </app-page-layout>
</template>

<script>
import AppPageLayout from './AppPageLayout'
import AppTopbar from './app-topbar/AppTopbar'
import AppSidebar from './app-sidebar/AppSidebar'
import { originalTheme, corporateTheme } from 'vuestic-ui/src/services/themes'
import {
  ColorThemeActionsMixin,
  ColorThemeMixin,
} from '../../services/vuestic-ui'

export default {
  name: 'app-layout-operator',
  components: {
    AppPageLayout,
    AppTopbar,
    AppSidebar,
  },
  data () {
    return {
      isTopBar: false,
      minimized: false,
      mobileWidth: 767,
    }
  },
  inject: ['contextConfig'],
  mixins: [ColorThemeActionsMixin, ColorThemeMixin],
  created () {
    if (this.$route.query && this.$route.query.theme === 'corporate') {
      this.setTheme('corporate')
    }
    this.$root.$on('change-theme', this.setTheme)
  },
  beforeDestroy () {
    this.$root.$off('change-theme', this.setTheme)
  },
  methods: {
    setTheme (themeName) {
      const theme = themeName === 'corporate' ? corporateTheme : originalTheme
      this.setColors(theme.colors)
      Object.keys(theme.context).forEach((key) => {
        this.contextConfig[key] = theme.context[key]
      })
    },
  },
}
</script>

<style lang="scss">
@font-face {font-family: "Flexo"; src: url("https://db.onlinewebfonts.com/t/6e1ef15c406d6f6aca64916d713fae18.eot"); src: url("https://db.onlinewebfonts.com/t/6e1ef15c406d6f6aca64916d713fae18.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/6e1ef15c406d6f6aca64916d713fae18.woff") format("woff"), url("https://db.onlinewebfonts.com/t/6e1ef15c406d6f6aca64916d713fae18.ttf") format("truetype");}
@font-face {font-family: "Flexo Black"; src: url("https://db.onlinewebfonts.com/t/69c0ad616c64a2dc64d02029c757df4c.eot"); src: url("https://db.onlinewebfonts.com/t/69c0ad616c64a2dc64d02029c757df4c.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/69c0ad616c64a2dc64d02029c757df4c.woff") format("woff"), url("https://db.onlinewebfonts.com/t/69c0ad616c64a2dc64d02029c757df4c.ttf") format("truetype");}
@font-face {font-family: "Flexo ItBold"; src: url("https://db.onlinewebfonts.com/t/a8d136c48b74108ea3b39516165b5943.eot"); src: url("https://db.onlinewebfonts.com/t/a8d136c48b74108ea3b39516165b5943.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/a8d136c48b74108ea3b39516165b5943.woff") format("woff"), url("https://db.onlinewebfonts.com/t/a8d136c48b74108ea3b39516165b5943.ttf") format("truetype");}

div.footerclass_operator{
	padding:25px;
  position: absolute;
  background: rgb(39, 39, 39);
	color: #E0E0E0;
	font-size: 100%; 
	font-family: "Flexo";
  vertical-align: middle;
  width: 100%;
  bottom: 0;
  height: 30px;
  }
.app-layout-operator {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to right, #363636, #565656);
  
  &__contain {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    // TODO Probably there is a better way to achieve this.
    height: calc(100%);

    @include media-breakpoint-down(sm) {
      height: calc(100%);
    }
  }

  &__main {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    max-height: 100%;
    min-height: 100%;

    &--top {
    }

    &-layout {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;
      box-sizing: border-box;
      min-height: 100%;
      margin: 0;
    }
  }
}
</style>
